@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Outfit:wght@100..900&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
.iphone{
width:100%;
height: 100vh;
text-align: center;
background-color: #f5f5f7;
margin-bottom: 20px;
}
.iphone img{
    width:70%;
    height: 70%;

}
.iphone h1{
    font-size: 60px;
    padding: 10px 0;
    font-weight: 500;
}
.iphone p{
    font-size: 35px;
    padding-bottom: 5px;
    font-weight: 400;
}
.iphone button{
 font-size: 20px;
 padding: 10px 20px;
 margin-right: 20px;
 border-radius: 20px;
 outline: none;
 border:0.5px solid #0071e3;
}
.iphone .btn1{
    background-color: #0071e3;
    color: #fff;
}
.iphone .btn2{
    color:#0071e3;
}
.iphone .btn2:hover{
    background-color: #0071e3;
    color: #fff;
}