@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Outfit:wght@100..900&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
.watch{
width:100%;
height: 100vh;
text-align: center;
background-color: #f5f5f7;
margin-bottom: 20px;
}
.watch .header{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#1d1d1f;
}

.watch .header img{
    width:80px;
}
.watch .header h1{
    font-weight: 800;
}
.watch .header h1 span{
    font-weight: 400;
}
.watch img{
    width:1351px;
}
.watch h1{
    font-size: 60px;
    padding: 10px 0;
    font-weight: 500;
}
.watch p{
    font-size: 35px;
    padding-bottom: 5px;
    font-weight: 400;
    color:#1d1d1f;
}
.watch button{
 font-size: 20px;
 padding: 10px 20px;
 margin-right: 20px;
 border-radius: 20px;
 outline: none;
 border:0.5px solid #0071e3;
}
.watch .btn1{
    background-color: #0071e3;
    color: #fff;
}
.watch .btn2{
    color:#0071e3;
}
.watch .btn2:hover{
    background-color: #0071e3;
    color: #fff;
}